
.custom-bw{
    background-color: #E65239;
}


.custom-bb{
    background-color: #D2AB3C;
}
.custom-bs{
    background-color:#4B10E2;
}
.custom-b-newsletter{
    background-color: #E65239;
}
.custom-carou-p-text{
    text-align: justify;
}